body {
  background-color: #FAB0E9;
  font-family: 'Inknut Antiqua';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app h1 {
  font-size: 25px;
  font-weight: bold;
  /*border-bottom: 1px solid black;*/
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.quizz {
  background-color: #fff;
  width: 90vw;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.quizz h2 {
  font-size: 18 px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
}

.uneReponse {
  font-size: medium;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

/*.uneReponse:hover {
  background-color: black;
  color: white;
}*/

#bouttonNext {
  background-color: #FAB0E9;
  color: black;
  font-weight: bold;
  width: 150px;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.blockScore {
  background-color: #fff;
  width: 90vw;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  display: none;
  justify-content: center;
}